Repository 2110366-2566-2/pic-keeper, pull requests merged in 2024-03, with the labels that each got.

#106 Implemented Payment System
  src/backend/go.mod
  src/backend/go.sum
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/controller/admin/get_instance.go
  src/backend/internal/controller/admin/init.go
  src/backend/internal/controller/admin/list_photographers.go
  src/backend/internal/controller/admin/login.go
  src/backend/internal/controller/admin/logout.go
  src/backend/internal/controller/admin/reject.go
  src/backend/internal/controller/admin/token_refresh.go
  src/backend/internal/controller/admin/verify.go
  src/backend/internal/controller/user/create_booking.go
  src/backend/internal/controller/user/get_qr_code.go
  src/backend/internal/controller/user/make_payment.go
  src/backend/internal/controller/util/constructor.go
  src/backend/internal/controller/util/photo.go
  src/backend/internal/migrations/20240130153800_people.up.sql
  src/backend/internal/migrations/20240310093922_gallery.up.sql
  src/backend/internal/model/model.go
  src/backend/internal/repository/admin.go
  src/backend/internal/repository/postgres/admin.go
  src/backend/internal/third-party/s3utils/s3utils.go
  src/backend/internal/usecase/admin.go
Labels: backend

#117 Improve error handler on every component
  src/frontend/src/app/admin/auth/login/page.tsx
  src/frontend/src/app/api/auth/[...nextauth]/route.ts
  src/frontend/src/app/api/proxy/[...path]/route.ts
  src/frontend/src/app/page.tsx
  src/frontend/src/components/Auth/LoginForm.tsx
  src/frontend/src/components/Auth/RegisterForm.tsx
  src/frontend/src/components/Gallery/CreateGallery.tsx
  src/frontend/src/components/Gallery/MyGallery.tsx
  src/frontend/src/components/Settings/AccountManagement.tsx
  src/frontend/src/components/Settings/EditProfilePage.tsx
  src/frontend/src/context/ModalContext.tsx
  src/frontend/src/hooks/useApiWithAuth.ts
  src/frontend/src/hooks/useErrorModal.tsx
  src/frontend/src/services/admin.ts
  src/frontend/src/services/user.ts
  src/frontend/src/types/booking.ts
  src/frontend/src/types/user.ts
Labels: frontend

#126 Hide `ngrok` endpoint.
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/config/model_conf.go
  src/backend/internal/config/template.yml
  src/backend/internal/controller/user/get_qr_code.go
  src/backend/internal/controller/util/ngrok.go
Labels: backend

#105 Landing page gallery view
  package-lock.json
  package.json
  src/backend/internal/cli/serve/serve.go
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/public/images/Image1.JPG
  src/frontend/public/images/image2.jpg
  src/frontend/public/images/image3.jpg
  src/frontend/src/app/page.tsx
  src/frontend/src/components/Gallery/GalleryCard.tsx
  src/frontend/src/components/Gallery/GalleryFilter.tsx
  src/frontend/src/components/Gallery/SearchBar.tsx
  src/frontend/src/components/Gallery/index.tsx
  src/frontend/src/components/Landing.tsx
  src/frontend/src/components/shared/Navbar/Navbar.tsx
  src/frontend/src/services/photographerGalleries.ts
  src/frontend/src/services/user.ts
  src/frontend/tailwind.config.ts
Labels: enhancement, frontend

#131 Adding profile view page
  src/frontend/src/app/(navbar)/view-profile/[userId]/page.tsx
  src/frontend/src/components/Gallery/SearchBar.tsx
  src/frontend/src/components/Landing.tsx
  src/frontend/src/components/Settings/EditProfilePage.tsx
  src/frontend/src/components/User/ProfileView/ProfileInfo.tsx
  src/frontend/src/components/shared/Navbar/ProfileMenu.tsx
  src/frontend/src/utils/string.ts
Labels: enhancement, frontend

#115 Implement chat and room system
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/controller/room/get_room_by_gallery_id.go
  src/backend/internal/migrations/20240224174950_chat.up.sql
  src/backend/internal/repository/postgres/room.go
  src/backend/internal/repository/room.go
  src/backend/internal/usecase/room.go
  src/frontend/src/app/(navbar)/galleries/[galleryId]/page.tsx
  src/frontend/src/components/Chat/Chat.tsx
  src/frontend/src/components/Gallery/GalleryInfo.tsx
  src/frontend/src/components/Gallery/index.tsx
  src/frontend/src/services/room.ts
  src/frontend/src/types/response.ts
Labels: backend, frontend

#138 Bugs fixed. All filters work as expected.
  src/backend/internal/model/model.go
  src/backend/internal/repository/postgres/gallery.go
  src/backend/internal/repository/postgres/issue.go
Labels: bug, backend

#141 Bug upon deleting galleries is fixed.
  src/backend/internal/migrations/20240310093922_gallery.up.sql
Labels: bug, backend

#144 Other Users in a room is populated.
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/controller/room/get_room.go
  src/backend/internal/controller/room/get_room_by_gallery_id.go
  src/backend/internal/controller/room/get_rooms.go
  src/backend/internal/controller/room/init.go
  src/backend/internal/controller/room/initialize_room.go
  src/backend/internal/controller/user/extract_methods.go
  src/backend/internal/controller/user/report_issue.go
  src/backend/internal/controller/user/req_refund.go
  src/backend/internal/model/model.go
  src/backend/internal/repository/postgres/room.go
  src/backend/internal/repository/room.go
  src/backend/internal/usecase/room.go
Labels: enhancement, backend

#145 Implement Chat page
  src/frontend/public/images/Image1.JPG
  src/frontend/public/images/chat.svg
  src/frontend/public/images/image2.jpg
  src/frontend/public/images/image3.jpg
  src/frontend/src/app/(navbar)/chat/[[...roomId]]/page.tsx
  src/frontend/src/app/(navbar)/chat/[roomId]/page.tsx
  src/frontend/src/app/(navbar)/layout.tsx
  src/frontend/src/components/Chat/Chat.tsx
  src/frontend/src/components/ChatSystem.tsx
  src/frontend/src/components/Gallery/GalleryCard.tsx
  src/frontend/src/components/Gallery/GalleryInfo.tsx
  src/frontend/src/components/Gallery/PackageInfo.tsx
  src/frontend/src/components/Gallery/index.tsx
  src/frontend/src/components/Landing.tsx
  src/frontend/src/components/Settings/MyGalleries/AddNewGallery.tsx
  src/frontend/src/components/User/ProfileView/ProfileInfo.tsx
  src/frontend/src/components/shared/Navbar/Navbar.tsx
  src/frontend/src/components/shared/Navbar/ProfileMenu.tsx
  src/frontend/src/components/shared/ProfileImage.tsx
  src/frontend/src/services/user.ts
  src/frontend/src/utils/s3.ts
Labels: frontend

#148 Enabled verification information schema.
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/controller/admin/init.go
  src/backend/internal/controller/admin/list_photographers.go
  src/backend/internal/controller/user/init.go
  src/backend/internal/controller/user/profile_picture.go
  src/backend/internal/controller/user/req_verification.go
  src/backend/internal/migrations/20240130153800_people.up.sql
  src/backend/internal/model/model.go
  src/backend/internal/repository/postgres/user.go
  src/backend/internal/repository/postgres/verification_info.go
  src/backend/internal/repository/verification_info.go
  src/backend/internal/third-party/s3utils/s3utils.go
  src/backend/internal/usecase/verification_info.go
  src/frontend/public/images/favicon.ico
  src/frontend/src/app/favicon.ico
  src/frontend/src/app/layout.tsx
  src/frontend/src/app/page.tsx
  src/frontend/src/services/user.ts
  src/frontend/src/types/verification.ts
Labels: enhancement, backend

#150 HUGE refactoring on `booking`.
  src/backend/internal/cli/serve/serve.go
  src/backend/internal/controller/admin/init.go
  src/backend/internal/controller/admin/list_pending_refund_bkgs.go
  src/backend/internal/controller/admin/refund.go
  src/backend/internal/controller/photographer/approve_cancel_req.go
  src/backend/internal/controller/photographer/cancel_booking.go
  src/backend/internal/controller/photographer/create_booking.go
  src/backend/internal/controller/photographer/get_one_booking.go
  src/backend/internal/controller/photographer/init.go
  src/backend/internal/controller/photographer/list_past_bookings.go
  src/backend/internal/controller/photographer/list_upcoming_bookings.go
  src/backend/internal/controller/photographer/my_bookings.go
  src/backend/internal/controller/photographer/pending_cncl_bookings.go
  src/backend/internal/controller/room/get_booking_from_room.go
  src/backend/internal/controller/room/get_room.go
  src/backend/internal/controller/room/get_room_by_gallery_id.go
  src/backend/internal/controller/room/get_rooms.go
  src/backend/internal/controller/room/init.go
  src/backend/internal/controller/room/initialize_room.go
  src/backend/internal/controller/user/approve_cancel_req.go
  src/backend/internal/controller/user/cancel_booking.go
  src/backend/internal/controller/user/get_one_booking.go
  src/backend/internal/controller/user/init.go
  src/backend/internal/controller/user/list_past_bookings.go
  src/backend/internal/controller/user/list_upcoming_bookings.go
  src/backend/internal/controller/user/my_bookings.go
  src/backend/internal/controller/user/pending_cncl_bookings.go
  src/backend/internal/controller/user/req_refund.go
  src/backend/internal/migrations/20240310093922_gallery.up.sql
  src/backend/internal/model/model.go
  src/backend/internal/repository/booking.go
  src/backend/internal/repository/postgres/booking.go
  src/backend/internal/usecase/booking.go
  src/backend/internal/usecase/gallery.go
  src/backend/internal/usecase/room.go
  src/frontend/src/services/customerBooking.ts
  src/frontend/src/services/photographerBooking.ts
  src/frontend/src/services/room.ts
  src/frontend/src/types/booking.ts
Labels: enhancement, backend
